fastapi
uvicorn[standard]
sqlalchemy
pydantic[email]
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]>=1.7.4
bcrypt>=4.0.1,<5
pytest
pytest-cov
httpx
requests

pandas
kagglehub[pandas-datasets]
sse-starlette
tenacity
python-multipart
