fastapi
uvicorn[standard]
sqlalchemy
pydantic[email]
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
pytest
pytest-cov
httpx
requests

pandas
kagglehub[pandas-datasets]
sse-starlette
 